

/*Open Sans*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
body{
  font-family: 'Open Sans', sans-serif;
  padding-top: 60px;
  padding-bottom: 66px;
}

main{
  -webkit-animation: 0.7s bodyPopIn ease-in-out;
  -o-animation: 0.7s bodyPopIn ease-in-out;
  animation: 0.7s bodyPopIn ease-in-out;
}
input[type="text"]{
  padding: 0 5px;
  margin: 0;
  border: none;
  line-height: 1.6;
  font-size: 17px;
  padding-right: 80px;
}

input[type="text"]:focus{
  outline:none;
}


@keyframes bodyPopIn {
  from{
    opacity: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
  to{
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;

  }
  
}