

/*Open Sans*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
body{
  font-family: 'Open Sans', sans-serif;
  padding-top: 60px;
  padding-bottom: 66px;


}
input[type="text"]{
  padding: 0 5px;
  margin: 0;
  border: none;
  line-height: 1.6;
  font-size: 17px;
  padding-right: 80px;
}

input[type="text"]:focus{
  outline:none;
}