.tab-bar{
  background-color: #f7f7f7;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content:space-between;
  padding-top: 10px;
  border-top: 1px solid #c1c1c1;
  box-sizing: border-box;
}
.tab-bar{
  padding:  10px 30px 5px;
  &__tab{
    display: block;
    text-align: center;
    color: #c1c1c1;
  }
  &__tab{
    &.tab-bar__tab--selected{
      color: #523737;
    }
  }
  &__tab{
    width: 25%;

  }

  &__title{
    font-size: 10px;
  }
  &__tab i{
    display: block;
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
  }

}
